.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}
.btn-active {
    background-color: #036181;
    color: white; /* Optional: To ensure the text is readable */
  }