---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
// import { getCollection } from "astro:content";
// import createSlug from "../lib/createSlug"
// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bem vindo👋</div>
    <div class="text-5xl font-bold">PREFEITURA - INTRANET</div>
    <!-- <div class="text-3xl py-3 font-bold">INTRANET</div> -->
    <div class="py-2">
      <text class="text-lg">
        Esta é a <b>Intranet</b> da prefeitura municipal de campinápolis, aqui vamos disponibilizar arquivos e informações
        refeerente a todas as secretarias da prefeitura e disponibiliza-las para os servidores que acessam a rede.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">RH (recursos humanos)</div>
  </div>

  <HorizontalCard
  title="Escala de Férias"
    img="/ferias.png"
    desc="Confira aqui todos os servidores e suas escalas de periodos de férias."
    url="#"
    badge="EM BREVE"
  />
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">CPD (centro de processamento de dados)</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Inventario de equipamentos"
    img="/inventario.png"
    desc="Relação dos equipamentos de infomartica da prefeitura"
    url="inventario"
    badge="EM BREVE"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">GABINETE</div>
  </div>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Número de Oficios"
    img="/oficio.png"
    desc="Use a ferramenta de organização de oficios para registrar a numeroação dos oficios divididos por setores"
    url="/oficios"
    target="_self"
    badge="EM BREVE"
  />

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
