---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalShopItem from "../components/HorizontalShopItem.astro";
import WebSocketIndicator from "../components/react/internet/WebSocketIndicator.jsx";
// import { getCollection } from "astro:content";
// import createSlug from "../lib/createSlug"
// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bem vindo👋</div>
    <div class="text-5xl font-bold">PREFEITURA - INTRANET</div>
    <!-- <div class="text-3xl py-3 font-bold">INTRANET</div> -->
    <div class="py-2">
      <text class="text-lg">
        Esta é a <b>Intranet</b> da prefeitura municipal de campinápolis, aqui vamos disponibilizar arquivos e informações
        referente a todas as secretarias da prefeitura e disponibiliza-las para os servidores que acessam a rede.
      </text>
    </div>
  </div>

  <WebSocketIndicator client:load transition:persist/>

  <!-- CPD -->
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">CPD (centro de processamento de dados)</div>
  </div>
  <HorizontalShopItem
    title="Status dos servidores"
    img="/servers.png"
    desc="Verifique quais servidores da prefeitura estão online e quais estão em manutenção."
    url="/servers"
    badge="NOVIDADE"
    badgeNovidade={true}
  />
  <div class="divider my-0"></div>
  <HorizontalShopItem
    title="Gerador de voucher"
    img="/wifi.jpg"
    desc="Gere rapidamente um voucher para acesso a rede wi-fi da prefeitura."
    url="/vouchers"
    badge="NOVIDADE"
    badgeNovidade={true}
  />
  <div class="divider my-0"></div>
  <HorizontalShopItem
    title="Inventário de equipamentos"
    img="/servidores2.png"
    desc="Relação dos equipamentos de infomática da prefeitura"
    url="/construction"
    badge="EM BREVE"
  />
  <!-- RH -->
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">RH (recursos humanos)</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Requerimento de Férias"
    img="/ferias.png"
    desc="Acesse aqui os modelos de requerimentos."
    url="/construction"
    badge="EM BREVE"
  />
  
  <!-- GABINETE -->
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">GABINETE</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Número de Oficios"
    img="/oficio.png"
    desc="Use a ferramenta de organização de oficios para organizar os oficios do seu setor."
    url="/construction"
    target="_self"
    badge="EM BREVE"
  />

</BaseLayout>
