---
import "../../components/react/servers/style.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ServerStatus from "../../components/react/servers/ServerStatus.jsx";

export function getStaticPaths () {
 return [
    {params: {slug: undefined}}
  ];
}
const { slug } = Astro.params;
---

<BaseLayout title="Intranet" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">STATUS DOS SERVIDORES</div>
    <div class="mt-12"> 
      <ServerStatus client:load websocketUrl="ws://192.168.1.15:1027" />
    </div>
  </div>
</BaseLayout>
